In [1]:
import pandas as pd

In [5]:
df = pd.read_parquet('green_tripdata_2025-11.parquet')

In [7]:
df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge',
       'cbd_congestion_fee'],
      dtype='object')

In [24]:
pickup_zone_df = pd.read_csv('taxi_zone_lookup.csv')

In [25]:
map_dict = dict(zip(*(pickup_zone_df['LocationID'],pickup_zone_df['Zone'])))

In [27]:
df['PULocation'] = df['PULocationID'].map(map_dict)
df['DOLocation'] = df['DOLocationID'].map(map_dict)

In [10]:
df['lpep_pickup_datetime']

0       2025-11-01 00:34:48
1       2025-11-01 00:18:52
2       2025-11-01 01:03:14
3       2025-11-01 00:10:57
4       2025-11-01 00:03:48
                ...
46907   2025-11-30 19:58:34
46908   2025-11-30 19:34:00
46909   2025-11-30 21:46:46
46910   2025-11-30 21:00:00
46911   2025-11-30 23:26:00
Name: lpep_pickup_datetime, Length: 46912, dtype: datetime64[us]

In [11]:
df[(df['trip_distance']<=1) & (df['lpep_pickup_datetime'] >= '2025-11-01') & 
    (df['lpep_pickup_datetime'] < '2025-12-01')]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.20,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.0,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.20,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.0,0.0
8,2,2025-11-01 00:03:08,2025-11-01 00:06:27,N,1.0,223,223,1.0,0.63,5.10,...,0.5,1.52,0.0,NaN,1.0,9.12,1.0,1.0,0.0,0.0
11,2,2025-11-01 00:02:26,2025-11-01 00:02:31,N,5.0,93,93,1.0,0.00,28.00,...,0.0,5.80,0.0,NaN,1.0,34.80,1.0,2.0,0.0,0.0
14,2,2025-11-01 00:05:40,2025-11-01 00:05:45,N,5.0,244,244,1.0,0.00,9.50,...,0.0,2.10,0.0,NaN,1.0,12.60,1.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46789,6,2025-11-29 14:02:50,2025-11-29 14:08:07,None,NaN,188,188,NaN,0.95,2.90,...,0.5,0.00,0.0,NaN,0.3,16.00,NaN,NaN,NaN,0.0
46809,1,2025-11-29 17:02:56,2025-11-29 17:09:35,None,NaN,41,42,NaN,0.80,7.90,...,0.5,0.00,0.0,NaN,1.0,9.40,NaN,NaN,NaN,0.0
46824,2,2025-11-29 21:43:00,2025-11-29 21:52:00,None,NaN,145,226,NaN,0.00,13.02,...,0.5,4.36,0.0,NaN,1.0,18.88,NaN,NaN,NaN,0.0
46854,6,2025-11-30 10:30:57,2025-11-30 10:36:22,None,NaN,10,215,NaN,0.79,0.00,...,0.5,0.00,0.0,NaN,0.3,16.00,NaN,NaN,NaN,0.0
46876,6,2025-11-30 13:06:21,2025-11-30 13:11:39,None,NaN,7,260,NaN,0.67,5.80,...,0.5,0.00,0.0,NaN,0.3,16.00,NaN,NaN,NaN,0.0

In [13]:
df[df['trip_distance']<100].sort_values('trip_distance', ascending=False)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
18867,2,2025-11-14 15:36:27,2025-11-14 18:40:48,N,4.0,130,265,2.0,88.03,610.6,...,0.5,0.00,0.00,NaN,1.0,612.10,2.0,1.0,0.00,0.0
27301,2,2025-11-20 12:28:02,2025-11-20 18:00:18,N,4.0,82,265,1.0,73.84,500.7,...,0.0,0.00,20.32,NaN,1.0,522.02,2.0,1.0,0.00,0.0
31551,2,2025-11-23 10:12:18,2025-11-23 17:22:18,N,1.0,223,223,1.0,45.26,372.6,...,0.5,0.00,0.00,NaN,1.0,374.10,2.0,1.0,0.00,0.0
30104,2,2025-11-22 02:07:07,2025-11-22 03:03:29,N,5.0,34,265,2.0,40.16,140.0,...,0.0,36.98,6.94,NaN,1.0,184.92,1.0,2.0,0.00,0.0
20258,2,2025-11-15 14:12:35,2025-11-15 15:16:49,N,4.0,130,1,1.0,39.81,197.6,...,0.0,0.00,22.32,NaN,1.0,220.92,1.0,1.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35523,2,2025-11-26 03:03:31,2025-11-26 03:03:34,N,1.0,192,264,1.0,0.00,3.0,...,0.5,20.00,0.00,NaN,1.0,25.50,1.0,1.0,0.00,0.0
17870,1,2025-11-13 19:47:55,2025-11-13 20:06:06,N,1.0,75,141,1.0,0.00,15.6,...,1.5,2.00,0.00,NaN,1.0,24.35,1.0,1.0,2.75,0.0
9761,2,2025-11-07 23:11:56,2025-11-07 23:12:00,N,5.0,210,210,1.0,0.00,10.0,...,0.0,2.20,0.00,NaN,1.0,13.20,1.0,2.0,0.00,0.0
205,2,2025-11-01 04:11:38,2025-11-01 04:13:53,N,5.0,56,56,1.0,0.00,18.0,...,0.0,3.80,0.00,NaN,1.0,22.80,1.0,2.0,0.00,0.0
31222,2,2025-11-22 23:03:04,2025-11-22 23:09:19,N,1.0,74,42,2.0,0.00,7.2,...,0.5,0.00,0.00,NaN,1.0,9.70,2.0,1.0,0.00,0.0

In [28]:
df[(df['lpep_pickup_datetime'].astype(str).str.startswith('2025-11-18')) & (df['lpep_dropoff_datetime'].astype(str).str.startswith('2025-11-18'))].groupby('PULocation')['total_amount'].sum().sort_values(ascending=False)

PULocation
East Harlem North           9281.92
East Harlem South           6609.15
Central Park                2378.79
Washington Heights South    2139.05
Morningside Heights         2100.59
                             ...
Upper West Side South         16.00
Upper West Side North         16.00
West Village                  16.00
Bronxdale                     13.57
Brooklyn Navy Yard             0.00
Name: total_amount, Length: 136, dtype: float64

In [29]:
df[(df['PULocationID'] == 74) & (df['lpep_pickup_datetime'].astype(str).str.startswith('2025-11'))].groupby('DOLocation')['tip_amount'].max().sort_values(ascending=False)

DOLocation
Yorkville West                   81.89
LaGuardia Airport                50.00
East Harlem North                45.00
Long Island City/Queens Plaza    34.25
JFK Airport                      23.53
                                 ...
Richmond Hill                     0.00
Van Nest/Morris Park              0.00
Van Cortlandt Village             0.00
Williamsbridge/Olinville          0.00
West Village                      0.00
Name: tip_amount, Length: 136, dtype: float64